In [6]:
import pandas as pd

In [8]:
import sqlite3

In [10]:
  conn = sqlite3.connect('db.sqlite3')

In [11]:
conn

In [21]:
sql = SELECT 'nombre' 
      FROM db.sqlite3

SyntaxError: invalid syntax (949786643.py, line 1)

In [18]:
df = pd.read_sql(sql, con=conn)

NameError: name 'sql' is not defined